<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ArchiveIdentifier</key>
	<string>B35CBB2F-0B69-4B62-89FF-246D173FC6DB</string>
	<key>EndTimeRef</key>
	<dict>
		<key>ContinuousTime</key>
		<integer>7290081375</integer>
		<key>UUID</key>
		<string>E0B40DC3-E933-4C8D-BEBE-50CF477E9C47</string>
		<key>WallTime</key>
		<integer>1772231548000000000</integer>
	</dict>
	<key>HighVolumeMetadata</key>
	<dict>
		<key>OldestTimeRef</key>
		<dict>
			<key>ContinuousTime</key>
			<integer>0</integer>
			<key>UUID</key>
			<string>E0B40DC3-E933-4C8D-BEBE-50CF477E9C47</string>
			<key>WallTime</key>
			<integer>1772231279751403000</integer>
		</dict>
	</dict>
	<key>HighVolumeSizeLimit</key>
	<integer>10485760</integer>
	<key>LiveMetadata</key>
	<dict>
		<key>OldestTimeRef</key>
		<dict>
			<key>ContinuousTime</key>
			<integer>5836407169</integer>
			<key>UUID</key>
			<string>E0B40DC3-E933-4C8D-BEBE-50CF477E9C47</string>
			<key>WallTime</key>
			<integer>1772231487430241416</integer>
		</dict>
	</dict>
	<key>OSArchiveVersion</key>
	<integer>5</integer>
	<key>OSLoggingSupportProject</key>
	<string>libtrace-1815.80.2</string>
	<key>OSLoggingSupportVersion</key>
	<real>1815.8</real>
	<key>PersistMetadata</key>
	<dict>
		<key>OldestTimeRef</key>
		<dict>
			<key>ContinuousTime</key>
			<integer>0</integer>
			<key>UUID</key>
			<string>E0B40DC3-E933-4C8D-BEBE-50CF477E9C47</string>
			<key>WallTime</key>
			<integer>1772231279751403000</integer>
		</dict>
	</dict>
	<key>PersistSizeLimit</key>
	<integer>146800640</integer>
	<key>SignpostMetadata</key>
	<dict>
		<key>OldestTimeRef</key>
		<dict>
			<key>ContinuousTime</key>
			<integer>0</integer>
			<key>UUID</key>
			<string>E0B40DC3-E933-4C8D-BEBE-50CF477E9C47</string>
			<key>WallTime</key>
			<integer>1772231279751403000</integer>
		</dict>
	</dict>
	<key>SignpostSizeLimit</key>
	<integer>20971520</integer>
	<key>SourceIdentifier</key>
	<string>FED348D8-E941-42EE-AE97-5BA7D0F10A16</string>
	<key>SpecialMetadata</key>
	<dict>
		<key>OldestTimeRef</key>
		<dict>
			<key>ContinuousTime</key>
			<integer>0</integer>
			<key>UUID</key>
			<string>E0B40DC3-E933-4C8D-BEBE-50CF477E9C47</string>
			<key>WallTime</key>
			<integer>1772231279751403000</integer>
		</dict>
		<key>TTL</key>
		<dict/>
	</dict>
	<key>SpecialSizeLimit</key>
	<integer>73400320</integer>
</dict>
</plist>
